:root {
  --secondary-color: #209CEE;
  /**
    * Set to #000 for WCAG AAA rating
    */
  --secondary-color-font-color: #000000;
  --base-size: 0.5rem;
  --link-color: #004299;
}

a {
  color: var(--link-color);
}

.profile-body {
  width: 100%;
  padding: 1.5rem;
}

.logo {
  width: 245px;
  height: 245px;
  border-radius: 50%;
}

.profile header {
  background: var(--secondary-color);
  color: var(--secondary-color-font-color);
  padding: calc(2 * var(--base-size));
}

.profile header h3 {
  margin: 0;
  padding: 0;
}

.meta-header {
  margin-bottom: 0;
  text-decoration: underline;
  padding-bottom: calc(2 * var(--base-size));
}

.meta-field {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: var(--base-size);
}