@import "./_vars.css";
@import "./_normalize.css";
@import "./_skeleton.css";

a {
  color: var(--link-color);
}

main {
  padding: calc(2 * var(--base-size));
}

.logo {
  width: 245px;
  height: 245px;
  border-radius: 50%;
}

.profile {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  margin-bottom: 2rem;
}

.section-header {
  background: var(--secondary-color);
  color: var(--secondary-color-font-color);
  padding: calc(2 * var(--base-size));
}

.section-header h3 {
  margin: 0;
  padding: 0;
}

.profile-body {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .profile-body {
    justify-content: space-around;
  }
}

.meta-header {
  margin-bottom: 0;
  text-decoration: underline;
  padding-bottom: calc(2 * var(--base-size));
}

.meta-field {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: var(--base-size);
}

.links {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
}
