@import './_vars.css';
@import './_normalize.css';
@import './_skeleton.css';


a {
  color: var(--link-color);
}

article {
  padding: calc(2 * var(--base-size));
  max-width: 1080px;
  margin: 0 auto;
}

#webmentions {
  margin-bottom: calc(4 * var(--base-size));
}

blockquote {
  background: blanchedalmond;
  padding: calc(2.5 * var(--base-size));
}